[Unit]
Description=autoshutdown service
Requires=network-online.target local-fs.target
After=network-online.target local-fs.target
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/local/bin/autoshutdown.sh

[Install]
WantedBy=multi-user.target
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target